{
    "presets": [["minify", {
      "mangle": {
        "exclude": ["ParserError", "NetworkError"]
      }
    }]]
    ,
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs"]
      }
    }
}